<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH-6LCPMVaVEYkNgfrEQYLfSfTFj2gz_g</string>
	<key>GCM_SENDER_ID</key>
	<string>1056705806360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cliu18.sfsu.edu.snds</string>
	<key>PROJECT_ID</key>
	<string>snds-csc780</string>
	<key>STORAGE_BUCKET</key>
	<string>snds-csc780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056705806360:ios:a4f5dd7873b855fd54036d</string>
</dict>
</plist>